html,
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #111;
    color: #fff;
    font-size: 14pt;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}
